@import "../../../variables";

// https://css-tricks.com/snippets/css/a-guide-to-flexbox/

.content-page{

  min-height: 100vh;

  .header-title{
    padding-top: 20px;
    padding-bottom: 10px;
    width: 100%;
    color: $drawer-background;
    font-style: inherit;
  }

  .content-cards{
    /*display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    */

  }
}

@media #{ $desktop } {
  .content-page{
    margin-left: 250px;
  }
}
