@import "../../../../variables";

.cont-jumbotron{
  .img-jumbotron {
    img {
      width: 100%;
      height: 130px;
      position: relative;
    }

    .cont-jumbotron .btn{
      background: red;
      position: absolute;
      cursor: pointer;
    }
  }
}

.desc-cont-post{
  .graphic{
    .chart{
      margin-top: 25px;
    }
  }
}



.desc-cont-post{

  margin-top: 30px;

  .description{
    display: flex;
    justify-content: center;
    color: $drawer-background;
  }

  .graphic{
    color: $drawer-background;
  }
}


