//Colors
@import "./variables";
* {
    color: #ffffff;
    margin: 0;
    padding: 0;
}

.content-page{
    background: $background-global;
    color: $drawer-background;
    padding-bottom: 20px;
}

.container-fluid{
    padding-left: 0;
    padding-right: 0;
}




